.content {
  grid-area: c;
}
.dialogs {
  display: grid;
  grid-template-columns: 4fr 8fr;
}

.active {
  color: #3b5998;
  margin-top: 15px;
}
.messages {
  margin: 0 auto;
  border: 0.5px solid #edeef1;
  border-radius: 5px;
  max-height: 900px;
}
.message1 {
  grid-area: posts;
  resize: none;
  width: 450px;
  height: 24px;
  background-color: rgb(221, 245, 251);
  border-radius: 50px;
  border-bottom-left-radius: 0;

  margin-top: 25px;
  padding-top: 8px;
  padding-left: 10px;
}
.message2 {
  grid-area: posts;
  resize: none;
  width: 450px;
  height: 24px;
  background-color: rgb(240, 240, 240);
  border-radius: 50px;
  border-bottom-right-radius: 0;
  display: grid;
  grid-template-columns: 100px auto;
  margin-top: 25px;
  padding-top: 8px;
  padding-left: 10px;
}
.ava_dialog {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  grid-area: ava;

  padding: 5px;
}
.dialog {
  display: flex;
  align-items: center;
}
textarea {
  resize: none;
  width: 450px;
  height: 50px;
  background-color: rgb(251, 251, 251);
  margin: 0 auto;
  outline: none;
  -moz-appearance: none;
  border: 1px solid #999;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-top: 30px;
}
button {
  position: relative;
  display: inline-block;
  margin-top: 12px;
  padding: 10px 20px;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #3b5998;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #3b5998;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #3b5998;
}

button:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #3b5998;
}

button:active {
  transform: scale(0.9);
}
.card {
  width: 500px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.chat_header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  font-size: 18px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.chat_window {
  height: 400px;
  overflow-y: scroll;
}

.message_list {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 400px;
}

.chat_input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.message_input {
  flex: 1;
  border: none;
  outline: none;
  padding: 5px;
  font-size: 14px;
}

.send_button {
  border: none;
  outline: none;
  background-color: #333;
  color: #fff;
  font-size: 14px;
  padding: 5px 10px;
  cursor: pointer;
}

.send_button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}
ul {
  height: 200px; /* задайте высоту зоны отображения сообщений */
  overflow: auto; /* добавьте свойство overflow со значением auto или scroll */
  scroll-behavior: smooth;
  scroll-padding-bottom: 50px;
}
