.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(228, 228, 228);
  padding-top: 40px;
  padding-bottom: 40px;
}
.form {
  width: 300px;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-family: inherit;
}

.input {
  font-size: 15px;
  width: 280px;
  padding: 15px 10px;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2),
    0 0.5px 0.5px rgba(0, 0, 0, 0.2);
  outline: none;
}
.rememberMe {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 15px;
}

.checkbox {
  appearance: none;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  border: 1px solid #dadde1;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  background-color: #fff;
}

.checkbox:checked {
  background-color: #1877f2;
  border-color: #1877f2;
}

.checkbox:checked::after {
  content: "";
  display: block;
  width: 6px;
  height: 11px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  margin: 0 4px;
}

label {
  color: #8b8e94;
  cursor: pointer;
}

.input:focus {
  outline: 1.2px solid #1877f2;
}

#loginBtn {
  margin-top: 10px;
  width: 100%;
  padding: 10px 20px;
  align-self: center;
  background: #1877f2;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1.3rem;
  font-weight: bold;
}

#loginBtn:hover {
  background: #196fe0;
}

#forgotPassword {
  text-align: center;
  position: relative;
  margin-top: 10px;
  width: 100%;
  font-size: 13px;
  align-self: center;
  font-weight: bold;
  color: #1877f2;
}

#forgotPassword::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.5px;
  bottom: -25px;
  left: 0;
  background: #dadde1;
}

#forgotPassword:hover {
  text-decoration: underline;
}

#createAccountBtn {
  margin-top: 40px;
  margin-bottom: 10px;
  padding: 15px 15px;
  align-self: center;
  background: #42b72a;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
}

#createAccountBtn:hover {
  background: #34a61d;
}
